%p 
	El usuario 
	=@usuario_origen.nombre_completo 
	a traspasado el instrumento 
	=@nombre_instrumento 
	al usuario 
	=@usuario_destino.nombre_completo
%br
%p Cordialmente
%p Sistema Informático de Soporte de la Gestión
%p Agencia de Sustentabilidad y Cambio Climático