.modal#mensaje_recuerde_guardar{tabindex: "-1", role: "dialog", "aria-hidden": true}
  .modal-dialog.modal-lg.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h3.modal-title
          %b IMPORTANTE: Recuerde guardar sus cambios
      .modal-body
        %ul.list-group.list-group-flush
          %li.list-group-item
            ="Le recomendamos presionar el botón 'Guardar cambios temporales' para no perder los cambios que realice. Este recordatorio se mostrará cada #{@recuerde_guardar_minutos} minutos contados desde el momento en que acceda a la vista, o guarde sus cambios."
      .modal-footer
        %button.btn.btn-secondary{type: "button", "data-dismiss" => "modal"}
          Cerrar