- if @flujo.tipo_instrumento_id == TipoInstrumento::FPL_LINEA_1_1 || @flujo.tipo_instrumento_id == TipoInstrumento::FPL_LINEA_5_1  
	= render 'gmap_initializer'
#observaciones-admisibilidad-remote-form
	= render 'form_observaciones_admisibilidad_tecnica'