- no_data=no_data.nil? ? false : no_data
.table-responsive
	%table.table.contribuyentes.table-striped
		%thead
			%tr
				%th.nombre=t(:nombre)
				%th.accion-agregar=t(:tipo)
				%th=t(:subtipo)
				%th=t(:país)
				%th=t(:región)
				%th=t(:provincia)
				%th=t(:comuna)
				%th=t(:rubros)
				%th

		%tbody
			- unless no_data
				- @instrumentos.each do |instrumento|
					%tr
						%td= instrumento.nombre
						%td
						%td
						%td
						%td
						%td
						%td
						%td
						%td
							= link_to '#', class: 'btn-sm', id: "#{instrumento.id}-asociar-instrumento" do 
								= t(:asociar)