- titulo t(:propuestas_de_acuerdo)
= link_to t(:agregar_, item: t(:acción).downcase), new_tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes, accion: @manifestacion_de_interes.accion_en_set_metas_accion, anexo: false), class: 'btn btn-sm btn-primary margin-bottom-20'
#propuestas-de-acuerdo-actualizacion-remote-table
	= render 'table'