- @set_metas_acciones = SetMetasAccion.de_la_manifestacion_de_interes_(@manifestacion_de_interes.id)
	$('#propuestas-de-acuerdo-actualizacion-remote-table').html("#{ j render 'set_metas_acciones/table', externo: true}");