:javascript
  $(document).ready(function() {
    $('table.materia-sustancias').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
  });
.card
  .card-header
    %h5.no-margin
      = t(:lista_de_, items: t(:materia_sustancias).downcase)
  .card-body
    .table-responsive
      %table.table.materia-sustancias.table-striped
        %thead
          %tr
            %th=t(:nombre)
            %th=t(:descripción)
            %th=t(:magnitud_física_asociada)
            %th=t(:meta_asociada)
            %th=t(:clasificaciones)
            %th.dos.iconos-acciones=t(:acciones)

        %tbody
          - @materia_sustancias.each do |record|
            - meta = record.meta
            - unidad_base = record.unidad_base
            - clasificaciones = record.materia_sustancia_clasificaciones
            %tr
              %td=record.nombre
              %td=record.descripcion
              %td=record.posee_una_magnitud_fisica_asociada == true ? record.unidad_base : t(:no_posee)
              %td=meta.blank? ? '--' : meta.nombre
              %td=clasificaciones.map{|m|m.clasificacion.nombre}.join(", ")
              %td.dos.iconos-acciones
                %div
                  = link_to edit_admin_materia_sustancia_path(record) do
                    %i.fa.fa-edit
                  = link_to admin_materia_sustancia_path(record), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:materia_sustancia).downcase), remote: false } do
                    %i.fa.fa-trash