- titulo t(:materia_sustancias)
= link_to t(:agregar_, item: t(:materia_sustancia).downcase), new_admin_materia_sustancia_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#materia-sustancia-remote-table
	= render 'table'