
<div class="modal fade" id="proveedor-detalles" tabindex="-1" role="dialog" aria-labelledby="proveedorDetallessModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg larger-please animated" role="document">
    <div class="modal-content">
      <div class="modal-body no-padding">
        <div class="card no-margin">
          <div class="card-header">
            <h5 class="no-margin">Detalles</h5>
          </div>
          <div class="card-body" id="proveedor-detalles-remote-form">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>