<%# <script>
  $(document).ready(function() {
    console.log("aa")
    $('table.detalles').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      }
    });
  });
</script> %>

<div>
  <%= link_to "Descargar CV", new_admin_proveedor_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'%>
  <%= link_to "Descargar Documento experiencias", new_admin_proveedor_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'%>
  <div class="card">
    <div class="card-header">
      <h5 class="no-margin">
          APL en donde ha participado
        </h5>
    </div>
      <div class="table-responsive">
          <table class="table detalles">
            <thead>
             <tr>
               <th class="nombre"><%= t(:nombre) %></th>
              </tr>
            </thead>
            <tbody>
            <% @apls.each do |record| %>
            <tr>
              <td><%= record.inspect %></td>
            <tr>
            <% end %>
          </tbody>
          </table>
      </div>
  </div>
</div>