- if @errors == true
	$('#establecimientos-remote-filter').html("#{j render 'filter_form', es_para_seleccion: @es_para_seleccion, resultado_mostrados: @resultado_mostrados}");
	htmlErrorToTooltip('top');
- else
	$('#levantados-remote-filter').html("#{j render 'filtros', es_para_seleccion: @es_para_seleccion, resultado_mostrados: @resultado_mostrados}");
	$('#levantados-remote-table').html("#{j render 'table', es_para_seleccion: @es_para_seleccion, levantados: @levantados}");

//$('#resultado-consulta-remote-block').html("#{j render 'resultado_consulta'}");
$('.loading-data').hide();
closeAlertMessage();