%body{:style => 'background-color: #f6f6f6;'}
  %div{:style => 'width: 50%; margin: 50px auto; background-color: white; padding: 20px; border: 1px solid lightgrey'}
    = image_tag('logo-ascc-nuevo.png', width:130, class: '')
    %p #{@body}

%style
  img { width: 265px; object-fit: cover; }
  p { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.5em;}
