%body{:style => 'background-color: #f6f6f6;'}
  %div{:style => 'width: 50%; margin: 50px auto; background-color: white; padding: 20px; border: 1px solid lightgrey'}
    =image_tag 'https://accion.ascc.cl/assets/logo-ascc-nuevo-d46ccad7b22e1e5cd8e0dadea5e4ec9d6fd0d2adc3c15b4f8756b35496fde2ca.png'
    %p #{@body}

%style
  img { width: 265px; object-fit: cover; }
  p { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.5em;}
