= render 'layouts/remote_form', block: 'modal-comentario', form_partial: 'form_modal_response', message_block: 'comentario-messages'
toggleAddLink();
- unless @error
	$('.descartar-button').text("Cerrar");