:javascript
  $(document).ready(function() {
    $('body').on('click','.enviar-monto-pagar', function(e){
      e.preventDefault();
      $('.loading-data').show();
      selected = $(this).attr('id');
      url = $(this).attr('href');
      monto = $("."+selected+"-input").val();
      $.ajax({
        url: url,
        data: {"proyecto[monto_pagar]": monto},
        type: "post"
      });
    });
  });

- total_ma_fpl = total_m_g = total_m_r_fpl = total_m_p = total_cc_a_v = total_cc_c = total_multas = total_proceso_pago = 0
- titulo t(:solicitar_pago)
.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:generar_solicitud_de_pago)
      .card-body.p-0
        .table-responsive
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th.min-width-140=t(:proyecto)
                %th=t(:monto_asignado_fpl)
                %th=t(:monto_garantizado)
                %th=t(:monto_rendido_fpl)
                %th=t(:monto_pagado)
                %th.min-width-120=t(:centro_costo)
                %th=t(:rem_centro_costo_anio_vigente)
                %th=t(:pago_rem_comprometido_anio_vigente)
                %th=t(:multas_uf)
                %th=t(:monto_en_proceso_de_pago)
                %th.min-width-120=t(:monto_a_pagar)
                %th=t(:acción)
            %tbody
              - @proyectos.each do |proyecto| 
                - total_ma_fpl += proyecto.monto_asignado_fpl
                - total_m_g += proyecto.monto_garantizado
                - total_m_r_fpl += proyecto.monto_rendido_fpl
                - total_m_p += proyecto.monto_pagado
                - total_cc_a_v += proyecto.cc_ano_vigente
                - total_cc_c += proyecto.cc_con_compromisos
                - total_multas += proyecto.multas
                - total_proceso_pago += proyecto.monto_proceso_pago
                %tr{id: "proyecto-#{proyecto.id}"}
                  = render 'proyecto_solicitud_pago', proyecto: proyecto
            %tfoot
              %tr
                %th=t(:total)
                %th=number_to_currency total_ma_fpl
                %th=number_to_currency total_m_g
                %th=number_to_currency total_m_r_fpl
                %th=number_to_currency total_m_p
                %th
                %th=number_to_currency total_cc_a_v
                %th=number_to_currency total_cc_c
                %th=number_to_currency total_multas
                %th=number_to_currency total_proceso_pago
                %th
.float-right
  = volver_root
  %br
  %br