- if @filtro_utilizado
	.alert.alert-dismissible.fade.show.mb-3{class: @establecimientos.size == 0 ? 'alert-danger' : 'alert-success' }
		= "<b>Resultados:</b> #{@establecimientos.size}</b> - <b>Filtro:</b> #{@filtro_utilizado}.".html_safe