- if @elementos_certificados.size > 0
  :javascript
    $(document).ready(function() {
      $('table.elementos-certificados').DataTable({
        //order: [[0, 'asc']],
        responsive: true,
        lengthMenu: [[10], [10]],
        //columnDefs: [ { targets: [-1], orderable: false } ],
        language: {
          url: "#{asset_path('spanish.json')}",
        }
      });
    });
.card
  .card-header
    %h5.no-margin
      = t(:lista_de_, items: t(:elementos_certificados).downcase)
  .card-body.px-0
    .table-responsive
      %table.table.elementos-certificados.table-striped
        %thead
          %tr
            %th=t(:nombre_acuerdo_estándar)
            %th=t(:auditoria_id)
            %th=t(:auditoria_nombre)
            %th=t(:tipo_elemento)
            %th=t(:auditoria_elemento_id)
            %th=t(:nombre_elemento)
            %th=t(:fecha_certificación)
            %th=t(:con_extension)
            %th=t(:vigencia_certificación)
            %th=t(:descargar_certificado)

        %tbody
          - if @elementos_certificados.size == 0
            %tr
              %td.text-center{colspan: 10} No posee elementos certificados
          - else
            -@elementos_certificados.each do |elem|
              %tr
                %td
                  =elem[:nombre_acuerdo]
                  -if !elem[:nombre_estandar].blank?
                    %b=elem[:nombre_estandar]
                %td=elem[:auditoria_id]
                %td=elem[:auditoria_nombre]
                %td=elem[:tipo_elemento]
                %td=elem[:id_elemento]
                %td=elem[:nombre_elemento]
                %td=elem[:fecha_certificacion]
                %td=elem[:con_extension]
                %td=elem[:vigencia_certificacion]
                %td.text-center
                  -if elem[:vigente]
                    = link_to certificado_admin_elementos_certificados_path(elem[:auditoria_id], elem[:id_elemento], elem[:nivel_id]),class: "btn btn-tabla-sm mx-auto", target: '_blank' do
                      %i.fa.fa-download
                  -else
                    No tiene certificado por descargar