- if @filtro_utilizado
	.alert.alert-dismissible.fade.show.mb-3{class: @comunas.size == 0 && @paises.size == 0 && @provincias.size == 0 && @regiones.size == 0 ? 'alert-danger' : 'alert-success' }
		= "<b>Filtro:</b> #{@filtro_utilizado}.".html_safe