%body{:style => 'background-color: #f6f6f6;'}
  %div{:style => 'width: 50%; margin: 50px auto; background-color: white; padding: 20px; border: 1px solid lightgrey'}
    =image_tag 'https://res.cloudinary.com/dye9yotct/image/upload/v1669987805/Copia_de_logo-ascc_tlkdl2.jpg'
    %p Estimado/a.

    %p Su solicitud para ser parte del registro no cumplió con lo indicado en las Bases Técnicas de postulación. Por este motivo ha sido rechazada.

    %p Usted tiene la opción de apelar a esta decisión, para esto debe completar adjuntar carta completada disponible en tarea correspondiente que está en su bandeja de entrada en la plataforma de postulación.
    = link_to 'https://accion.ascc.cl', 'accion.ascc.cl', target: '_blank'

    %p{:style => 'font-weight: bold;'} El plazo para apelar es de 25 días hábiles contados desde hoy.

    %p Si su apelación es rechazada, no podrá ser considerado dentro del registro. No obstante lo anterior, podrá volver a iniciar un nuevo proceso de postulación, que cumpla con todos los requisitos en estas bases según corresponda.

    %p Saludos Cordiales.

    %p Comité Evaluador


    %style
      img { width: 265px; object-fit: cover; }
      p { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.5em;}









