
:javascript
  //carga la data desde el mapa, con el poligono

- ue =  @manifestacion_de_interes.ubicacion_exacta.blank? ? [] : @manifestacion_de_interes.ubicacion_exacta.split(",")
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&language=es&libraries=drawing,geometry&callback=mapLoaded", async: true;
:javascript
  var ubicacionEntidadCogestoraMap;
  var representacionSeleccionTerritorioMap;
  var areaInfluenciaProyectoMap;
  var alternativasInstalacionMap;
  var representacionEnMapaProyectoMap;
  var document_ready = false;

  var coords = [];
  var places = [];
  var markers = [];

  function mapLoaded(){
    if(document_ready){
      initializeRepresentacionSeleccionTerritorioMap(-30.0000000, -71.0000000);
      initializeAreaInfluenciaProyectoMap(-30.0000000, -71.0000000);
      initializeAlternativasInstalacionMap(-30.0000000, -71.0000000);

      setAllMarkers(#{raw json_escape @manifestacion_de_interes.coordernadas_territorios.blank? ? [] :  @manifestacion_de_interes.coordernadas_territorios},representacionSeleccionTerritorioMap);
    }
  }

  function initializeUbicacionEntidadGestoraMap(lat,lng) {
    ubicacionEntidadCogestoraMap = new google.maps.Map(document.getElementById('mapa-entidad-cogestora'), {
      zoom: 14,
      minZoom: 11,
      center: new google.maps.LatLng(lat,lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    marker = new google.maps.marker.AdvancedMarkerElement({ position: new google.maps.LatLng(lat,lng), title: "Título", map: ubicacionEntidadCogestoraMap });
  }

  function initializeRepresentacionSeleccionTerritorioMap(lat,lng) {
    representacionSeleccionTerritorioMap = new google.maps.Map(document.getElementById('representacion-seleccion-territorio-mapa'), {
      zoom: 4,
      center: new google.maps.LatLng(lat,lng),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });
  }

  function initializeAreaInfluenciaProyectoMap(lat,lng) {
    areaInfluenciaProyectoMap = new google.maps.Map(document.getElementById('area-influencia-proyecto-mapa'), {
      zoom: 4,
      center: new google.maps.LatLng(lat,lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: true,
      disableDefaultUI: true,
      zoomControl: true
    });

    //Permite definir los controles a usar dentro del mapa.-
    areaInfluenciaProyectoMap.data.setControls(["Point","Polygon"]);
    areaInfluenciaProyectoMap.data.setStyle({
      editable: true,
      draggable: true
    });
    areaInfluenciaProyectoMap.data.addListener('addfeature', saveAreaInfluenciaProyectoData);
    areaInfluenciaProyectoMap.data.addListener('removefeature', saveAreaInfluenciaProyectoData);
    areaInfluenciaProyectoMap.data.addListener('setgeometry', saveAreaInfluenciaProyectoData);
    //permite eliminar una figura con el click derecho
    areaInfluenciaProyectoMap.data.addListener('rightclick', function(e) {
      areaInfluenciaProyectoMap.data.remove(e.feature);
    });
    areaInfluenciaProyectoData = $('#manifestacion_de_interes_area_influencia_proyecto_data').val();
    if ( areaInfluenciaProyectoData != "" ) {
      loadSavedData(areaInfluenciaProyectoMap,JSON.parse(areaInfluenciaProyectoData));
    }
    // Cargar el control personalizado
    var centerControlDiv = document.createElement('div');
    var centerControl = new CenterControl(centerControlDiv, areaInfluenciaProyectoMap);
    centerControlDiv.index = 1;
    areaInfluenciaProyectoMap.controls[google.maps.ControlPosition.TOP_LEFT].push(centerControlDiv);
  }

  function initializeAlternativasInstalacionMap(lat,lng) {
    alternativasInstalacionMap = new google.maps.Map(document.getElementById('alternativas-instalacion-mapa'), {
      zoom: 4,
      center: new google.maps.LatLng(lat,lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: true,
      disableDefaultUI: true,
      zoomControl: true
    });

    alternativasInstalacionMap.data.setControls(["Point","Polygon"]);
    alternativasInstalacionMap.data.setStyle({
      editable: true,
      draggable: true
    });

    alternativasInstalacionMap.data.addListener('addfeature', saveAlternativasInstalacionData);
    alternativasInstalacionMap.data.addListener('removefeature', saveAlternativasInstalacionData);
    alternativasInstalacionMap.data.addListener('setgeometry', saveAlternativasInstalacionData);
    alternativasInstalacionMap.data.addListener('rightclick', function(e) {
      alternativasInstalacionMap.data.remove(e.feature);
    });

    alternativasInstalacionData = $('#manifestacion_de_interes_alternativas_instalacion_data').val();
    if ( alternativasInstalacionData != "" ) {
      loadSavedData(alternativasInstalacionMap,JSON.parse(alternativasInstalacionData));
    }
    // Cargar el control personalizado
    var centerControlDiv = document.createElement('div');
    var centerControl = new CenterControl(centerControlDiv, alternativasInstalacionMap);
    centerControlDiv.index = 1;
    alternativasInstalacionMap.controls[google.maps.ControlPosition.TOP_LEFT].push(centerControlDiv);
  }

  function loadSavedData(map,data) {
    try{
      //var data = JSON.parse(localStorage.getItem(item));
      map.data.forEach(function (f) {
        map.data.remove(f);
      });
      map.data.addGeoJson(data);
    }catch(error){
      console.log('Error al cargar datos kmz');
    }
  }

  function saveAreaInfluenciaProyectoData(){
    e=$('#manifestacion_de_interes_area_influencia_proyecto_data');
    areaInfluenciaProyectoMap.data.toGeoJson(function(json) {
      v=JSON.stringify(json);
      localStorage.setItem('areaInfluenciaProyectoGeoData', v);
      e.val(v);
    });
  }

  function saveAlternativasInstalacionData(){
    e=$('#manifestacion_de_interes_alternativas_instalacion_data');
    alternativasInstalacionMap.data.toGeoJson(function(json) {
      v=JSON.stringify(json);
      localStorage.setItem('alternativasInstalacionGeoData', v);
      e.val(v);
    });
  }

  function setPolygon(coords,map) {
    polygon = new google.maps.Polygon({
      paths: coords,
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35
    });
    polygon.setMap(map);
  }



  function addMarker(map, location) {
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    marker = new AdvancedMarkerElement({
      map,
      position: location,
    });

    markers.push(marker);
  }

  function removeAllMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }

  function setAllMarkers(coords,map) {
    for (var i = 0; i < coords.length; i++) {
      addMarker(map,coords[i]);
    }
  }

  // ##
  // # DOSSA 2019-08-08 10:08
  // # Funcion encargada de fijar coordenadas en mapa de manifestación de interés (Contexto sector).
  // # Primero elimina todas las coordenadas fijadas en el mapa, revisa si hay checks activados, de ser así itera sobre ellos y 'addMArker' se encarga de fijar los puntos en el mapa, de lo contrario, sólo setea los valores del campo '#manifestacion_de_interes_coordernadas_territorios' en blanco.
  // # En versiones anteriores, las funciones 'removeAllMarkers()' y 'addMarker()' se encontraban comentadas.

  function setCoordinates(lugares) {
    removeAllMarkers();
    if ( lugares.length > 0 ) {
      $.post("#{geo_localization_coordinates_path}", { geo_localization: { place: JSON.stringify(lugares) }}, function(data){
        coords = [];
        $.each(data.response,function(k,v){
          latLngLocation = { lat: v.latitud, lng: v.longitud };
          coords.push( latLngLocation );
          addMarker(representacionSeleccionTerritorioMap,latLngLocation);
        });
      }).done(function() {
        $('#manifestacion_de_interes_coordernadas_territorios').val(JSON.stringify(coords));
        $('#manifestacion_de_interes_coordernadas_territorios').trigger("change");
      });
    }else{
      $('#manifestacion_de_interes_coordernadas_territorios').val("");
      $('#manifestacion_de_interes_coordernadas_territorios').trigger("change");
    }
  }

  //Para crear el control personalizado
  function CenterControl(controlDiv, map) {
    // Set CSS for the control border.
    var controlUI = document.createElement('div');
    controlUI.style.backgroundColor = '#fff';
    controlUI.style.border = '2px solid #fff';
    controlUI.style.borderRadius = '3px';
    controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
    controlUI.style.cursor = 'default';
    controlUI.style.marginLeft = '0px';
    controlUI.style.marginTop = '5px';
    controlUI.style.textAlign = 'center';
    controlUI.title = 'Presione click derecho para eliminar el poligono';
    controlDiv.appendChild(controlUI);

    // Set CSS for the control interior.
    var controlText = document.createElement('div');
    controlText.style.color = 'rgb(25,25,25)';
    controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
    controlText.style.fontSize = '11px';
    controlText.style.lineHeight = '20px';
    controlText.style.paddingLeft = '5px';
    controlText.style.paddingRight = '5px';
    controlText.innerHTML = 'Borrar';
    controlUI.appendChild(controlText);
  };

  $(document).on('change', ".comunas .tree-parent", function(){
    init_coordenadas_territorios();
  });

  function init_coordenadas_territorios(){
    var lugares_a_mostrar = [];
    $('.ae-group.comunas').children("div").children("ul").children("li").children(".tree-parent").each(function(){
      lugares_a_mostrar = lugares_a_mostrar.concat(gmap_coordenadas_territorios($(this), 1));
    });
    setCoordinates(lugares_a_mostrar);
  }

  function gmap_coordenadas_territorios(parent, deep){
    var lugares = [];
    if(parent.is(":checked")){
      if(deep == 1){
        var reg = parent.siblings("label").contents().first().text().trim();
        lugares.push(reg+" "+pais);
      }
      if(deep == 2){
        var region = parent.closest("div").siblings("label");
        var prov = parent.siblings("label").contents().first().text().trim();
        lugares.push(prov+" "+region.contents().first().text().trim()+" "+pais);
      }
      if(deep == 3){
        var provincia = parent.closest("div").siblings("label");
        var region = provincia.closest("div").siblings("label");
        var com = parent.siblings("label").contents().first().text().trim();
        lugares.push(com+" "+provincia.contents().first().text().trim()+" "+region.contents().first().text().trim()+" "+pais);
      }
    }else if(parent.prop("indeterminate")){
      parent.siblings("div").children("ul").children("li").children(".tree-parent").each(function(){
        lugares = lugares.concat(gmap_coordenadas_territorios($(this), deep+1));
      });
    }
    return lugares;
  }
  
