.modal.fade{id: :"terminar-diagnostico-pasar-acuerdo", tabindex: "-1", role: :dialog, "aria-labelledby": :terminarDiagnosticoModalLabel, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content
      .modal-body.p-0
        .card.m-0
          .card-header
            %h5.control-label= t(:terminar_diagnostico)
          .card-body
            .row
              .col-12
                = f.input :observaciones_documentos_diagnostico, label: t(:observaciones_comentarios_siguiente_etapa), input_html: { class: '', value: ''}, placeholder: "Ingrese comentario u observación para la siguiente etapa", as: :text, required: false
              .col-12
                .d-flex.flex-column.flex-lg-row.align-items-end.justify-content-end
                  %button{type: "submit", class: 'btn btn-sm btn-primary btn-sm text-break m-1', style: "white-space: normal;", "data-confirm" => t(:confirma_poner_termino_diagnostico)} Terminar etapa de diagnóstico y pasar a negociación de acuerdo
                  %button.btn.btn-secondary.btn-sm.m-1{type: :button, "data-dismiss"=>:modal}
                    Cerrar

