.modal.fade{id: :"terminar-actualizar-acuerdo-actores", tabindex: "-1", role: :dialog, "aria-labelledby": :terminarActualizarAcuerdoActoresModalLabel, "aria-hidden": true}
	.modal-dialog.modal-dialog-centered.modal-lg.larger-please.animated{role: :document}
		.modal-content
			.modal-header
				%div.m-auto
					%h5.no-margin
						= t(:terminar_carga_actualizacion_actores_en_acuerdo)
			.modal-footer
				%div.m-auto
					%button.btn.btn-secondary{type: :button, "data-dismiss"=>:modal}
						Cerrar
					= f.submit "Terminar etapa de diagnóstico y pasar a negociación de acuerdo", class: 'btn btn-sm btn-primary btn-sm', data: { confirm: t(:confirma_poner_termino_diagnostico), remote: false }
