= render 'layouts/remote_form', block: 'observaciones-admisibilidad', form_partial: 'form_observaciones_admisibilidad_juridica' 
$("#manifestacion a##{@manifestacion_de_interes.current_tab}").tab('show');