$("#messages-remote-block").html("#{j render 'layouts/messages'}");
-# actualizamos vista
$('#informe').html("#{ j render 'manifestacion_de_interes/form_observacion_informe', apl: :apl_020}")
$('.loading-data').hide();
closeAlertMessage();