= render 'layouts/remote_form', block: 'manifestacion-de-interes'
$('.card-preview-seleccionados').each(function(){
set_seleccionados_tree($(this));
});
$("#manifestacion a##{@manifestacion_de_interes.current_tab}").tab('show');
- if @manifestacion_de_interes.current_tab == 'datos-proyecto-tab'
  initializeAreaInfluenciaProyectoMap(-30.0000000, -71.0000000);
  initializeAlternativasInstalacionMap(-30.0000000, -71.0000000);
