var select_comuna = "#adhesion_matriz_comuna_id";
$(select_comuna).find('option').not(':first').remove();
-@comunas.each do |comuna|
  $(select_comuna).append("<option value='#{comuna.id}'>#{comuna.nombre}</option>");
$(select_comuna).trigger('chosen:updated');