- titulo t(:tipo_proveedores)
= link_to t(:agregar_, item: t(:tipo_proveedor).downcase), new_admin_tipos_proveedor_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#tipo-proveedor-remote-table
	= render 'table'