.modal.fade#set-metas-accion-remote-modal{tabindex: "-1", role: :dialog, "aria-labelledby": :modalArchivosAnexosPosterioresFirma, "aria-hidden": true}
	.modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
		.modal-content
			-# = simple_form_for @informe, url: guardar_archivos_anexos_posteriores_firmas_actualizar_acuerdos_actores_manifestacion_de_interes_path(@tarea_pendiente,@manifestacion_de_interes, method: :patch), remote: true, method: :patch do |i|
			.modal-header
				=t(:historicos_set_metas_acciones)
			.modal-body
				.row
					.col-12
						= select_tag :flujo, options_from_collection_for_select(Flujo.where.not(codigo: nil), "id", "nombre_instrumento"), { class: 'form-control validado',:prompt => 'Seleccione una instancia'}
			.modal-footer
				-# = link_to t(:back), actualizar_comite_acuerdos_manifestacion_de_interes_path(@tarea_pendiente,@manifestacion_de_interes), class: 'btn btn-sm btn-warning ml-1'
					= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "actualizar-mapa-de-actores-button btn btn-sm btn-primary btn-disabled button-send", disabled: false