:javascript
	$(document).ready(function() {
		$('table.responsables').DataTable({
			responsive: true,
			lengthMenu: [[30], [30]],
			columnDefs: [ { targets: [6], orderable: false } ],
			language: {
				url: "#{asset_path('spanish.json')}"
			},
		});
	});
.card
	.card-header
		%h5.no-margin
			= t(:lista_de_, items: t(:responsables).downcase)
	.card-body
		%table.table.responsables.table-striped
			%thead
				%tr
					%th=t(:tipo_instrumento)
					%th=t(:rol)
					%th=t(:cargo)
					%th=t(:institución)
					%th=t(:actividad_económica)
					%th=t(:tipo_contribuyente)
					%th.dos.iconos-acciones=t(:acciones)
			%tbody
				- @responsables.each do |record|
					%tr
						%td=record.tipo_instrumento.nombre
						%td=record.rol.nombre
						%td=record.cargo.nombre
						%td=record.contribuyente.blank? ? '--' : record.contribuyente.nombre
						%td=record.actividad_economica.blank? ? '--' : record.actividad_economica.descripcion_ciiuv4
						%td=record.tipo_contribuyente.blank? ? '--' : record.tipo_contribuyente.nombre
						%td.dos.iconos-acciones
							= link_to edit_admin_responsable_path(record) do
								%i.fa.fa-edit
							= link_to admin_responsable_path(record), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:responsable)), remote: false } do
								%i.fa.fa-trash