- titulo t(:responsables)
= link_to t(:agregar_, item: t(:responsable).downcase), new_admin_responsable_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#responsable-remote-table
	= render 'table'