.nested-fields
  .row
    .col-12.col-lg-4
      =f.input :description, label: 'Descripción documento'
    .col-12.col-lg-5
      =f.input :archivo, input_html: {class: "validado form-control"}
    .col-12.col-lg-1
      = link_to_remove_association raw('<i class="fa fa-minus"></i>'), f, class: 'btn btn-danger btn-sm mt-4'
