= simple_form_for @registro_proveedor, remote: true do |f|
  .row
    .col-12.mt-3
      %h1.titulo='Solicitud de Registro'
      .col-12
        .card
          .card-header
            %h5.no-margin
              %b Datos Solicitante
            %h5.no-margin=titulo_acuerdo.html_safe
          .card-body
            .row
              .col-12.col-lg-3
                =f.input :rut
              .col-12.col-lg-4
                =f.input :nombre, error: "algo nuevo"
              .col-12.col-lg-4
                =f.input :apellido, required: true, input_html: {class: "validado check-boton-llenado"}
              .col-12.col-lg-6
                =f.input :email, error: true, input_html: {class: "form-control help-block"}
              .col-12.col-lg-6
                =f.input :telefono
              .col-12.col-lg-4
                =f.input :profesion
              .col-12
                =f.input :direccion
              .col-12.col-lg-4
                =f.input :region, collection: Region.all.map{|r| [r.nombre, r.id]}, wrapper: false
              .col-12.col-lg-4
                =f.input :comuna, collection: Comuna.all.map{|c| [c.nombre, c.id]}, wrapper: false
              .col-12.col-lg-4
                =f.input :ciudad
              .col-12
                =f.input :asociar_institucion, as: :boolean
      .col-12
        .card
          .card-header
            %h5.no-margin
              %b Registro
          .card-body
            .row
              .col-12.col-lg-4
                %p A que postula?
                / =f.input :a_que_postula?, collection: ['Algo']
              .col-12
                =f.label :certificado_de_experiencia
              .col-12.col-lg-3
                %p numero de fila
              .col-12.col-lg-6
                = f.input :archivos, label: t(:formulario_de_adhesion_y_documentacion_complementaria), as: :file, input_html: {class: "validado form-control auto-save disabled", multiple: true}, required: true
              .col-12.col-lg-3
                / =f.input :materias_relacionadas, collection: MateriaSustancia.all.map{|r| [r.nombre, r.id]}, wrapper: false

                / =f.input :sector_industrial, collection: ActividadEconomica.all.map{|r| [r.nombre, r.id]}, wrapper: false
              .col-12
                / =f.input :documentación

              .col-12
                .pt-3
                  =f.input :terminos_y_servicion, as: :boolean, label: 'acepto que la información proporcionada con motivo de la presente postulación sea publicada por la ASCC en el correspondiente registro'
  .float-right
    = link_to t(:back), adherir_a_un_acuerdo_path, class: 'btn btn-warning btn-sm'
    =f.submit
