.modal.fade#modal_evaluacion{tabindex: "-1", role: :dialog, "aria-labelledby": :modal1Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content
      .modal-header.p-3
        %label.control-label Evaluaciones Anteriores
      .modal-body
        .row
          .col-12
            %p APL - Prueba marzo 2023 - 6.0
            %p APL - Prueba ultima - 7.0
      .modal-footer
        %button.btn.btn-secondary.btn-sm{type: :button, "data-dismiss"=>:modal}
          Cerrar
