.modal.fade#modal_revisar_pertinencia{tabindex: "-1", role: :dialog, "aria-labelledby": :modal1Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content
      .modal-header.p-3
        %label.control-label Resultado de Pertinencia
      .modal-body
        .row
          .col-12
            .form-group
              %select.form-control.validado.select2#adhesion_estado_elementos
                %option{value: "",  selected: ''} Seleccione un estado de revisión
                %option{value: "1" } Recomendado
                %option{value: "2" } Con Observaciones
                %option{value: "3" } Rechazado
          .col-12
            .form-group
              %label.control-label#comentario_label Comentarios
              %textarea.form-control.validado#adhesion_justificacion_elementos
      .modal-footer
        %button.btn.btn-primary.btn-sm#enviar_modal_revisar_pertinencia{type: :button, disabled: true}
          Guardar
        %button.btn.btn-secondary.btn-sm{type: :button, "data-dismiss"=>:modal}
          Cerrar
