- titulo t(:tipo_instrumentos)
= link_to t(:agregar_, item: t(:tipo_instrumento).downcase), new_admin_tipos_instrumento_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#tipos-instrumentos-remote-table
	= render 'table'