.card
	.card-header
		=t(:proyecto)
	.card-body
		%table.table.table-bordered
			%thead
				%tr	
					%th=t(:actividad)
					%th
						%span.estado=t(:estado)
					%th=t(:fecha_finalización)
					%th=t(:acción)
			%tbody
				- @proyecto.proyecto_actividad.each do |actividad|
					%tr	
						%td
							= actividad.nombre
						%td
							= "soy un estado"
						%td
							= l(actividad.fecha_finalizacion, format: '%d-%m-%Y')
						%td
							= link_to t(:editar), seguimiento_fpl_mod_calendario_editar_actividad_path(@proyecto, actividad), class: 'btn btn-warning btn-sm'
			