= simple_form_for @fondo_produccion_limpia_mensaje, url: admin_fondo_produccion_limpia_mensajes_path, remote: true do |f|
  .row
    .col-12.mt-3
      %h1.titulo='Mensaje para Fondo Producción Limpia'
      .col-12
        .card
          .card-header
            %h5.no-margin
              %b Datos Solicitante
            %h5.no-margin=titulo_acuerdo.html_safe
          .card-body
            .row
              .col-12
                .card.mb-2
                  .card-header
                    %h5.no-margin
                      = t(:lista_de_, items: t(:campos_disponibles).downcase)
                  .card-body.p-2.pl-3.pr-3
                    - @metodos.each do |k,tag|
                      %span.float-left.mr-2{class: tag}
                        =k  
              .col-12
                = f.association :tarea, collection: Tarea.where("nombre ILIKE ?", "%FPL-%").where(tipo_instrumento_id: 10).where(etapa_id: 1).order(:codigo).map { |r| [r.nombre, r.id] }.sort
              .col-12
                =f.input :asunto, required: true, input_html: { class: 'required-field' }
              .col-12
                =f.input :body, required: true, input_html: { rows: 10 }        
  .float-right
    =link_to t(:back), admin_fondo_produccion_limpia_mensajes_path, class: 'btn btn-warning '
    =f.submit 'Enviar', class: 'btn btn-primary'
