.modal.fade.reload-previsualizar{id: :"modal-6", tabindex: "-1", role: :dialog, "aria-labelledby": :modal6Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content
      .modal-header
        =t(:derechos_y_obligaciones_de_las_partes_que_suscriben_el_acuerdo)
      .modal-body
        .row
          .col-12
            = f.input :derechos, as: :ckeditor, input_html: { value: @datos["derechos"]}
          .col-12
            = f.input :obligaciones, as: :ckeditor, input_html: { value: @datos["obligaciones"]}
      .modal-footer
        -#
          %button.btn.btn-secondary{disabled: true}
            Seleccionar otro acuerdo como base
        %button.btn.btn-primary.terminar-button{type: :button, "data-dismiss"=>:modal}
          Terminar