.modal.fade{id: :"modal-3", tabindex: "-1", role: :dialog, "aria-labelledby": :modal3Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content
      .modal-header
        =t(:objetivo_general_y_específico)
      .modal-body
        .row
          .col-12
            = f.input :objetivo_general, as: :ckeditor, input_html: { value: @datos["objetivo_general"]}
          .col-12
            = f.input :objetivo_especifico, label: t(:objetivos_especificos), as: :ckeditor, input_html: { value: @datos["objetivo_especifico"]}
      .modal-footer
        -#
          %button.btn.btn-secondary{disabled: true}
            Seleccionar otro acuerdo como base
        %button.btn.btn-primary.terminar-button{type: :button, "data-dismiss"=>:modal}
          Terminar