.modal.fade{id: :"modal-1", tabindex: "-1", role: :dialog, "aria-labelledby": :modal1Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content
      .modal-header
        =t(:fundamentos_antecedentes_y_normativas_aplicables)
      .modal-body
        .row
          .col-12
            = f.input :fundamentos, as: :ckeditor, input_html: { value: @datos["fundamentos"]}
          .col-12
            = f.input :antecedentes, as: :ckeditor, input_html: { value: @datos["antecedentes"]}
          .col-12
            = f.input :normativas_aplicables, as: :ckeditor, input_html: { value: @datos["normativas_aplicables"]}
      .modal-footer
        -#
          %button.btn.btn-secondary{disabled: true}
            Seleccionar otro acuerdo como base
        %button.btn.btn-primary.terminar-button{type: :button, "data-dismiss"=>:modal}
          Terminar