= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&language=es&libraries=drawing,geometry", async: true;
:javascript
	var ubicacionInstitucionQueSolicitaApoyoMap;
	function initializeUbicacionInstitucionQueSolicitaApoyoMap(lat,lng) {
		ubicacionInstitucionQueSolicitaApoyoMap = new google.maps.Map(document.getElementById('mapa-institucion-que-solicita-apoyo'), {
			zoom: 14,
			minZoom: 11,
			center: new google.maps.LatLng(lat,lng),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});
		marker = new google.maps.Marker({ position: new google.maps.LatLng(lat,lng), title: "Título", map: ubicacionInstitucionQueSolicitaApoyoMap });
	}