- titulo t(:clasificaciones)
= link_to t(:agregar_, item: t(:clasificación).downcase), new_admin_clasificacion_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#clasificacion-remote-table
	= render 'table'