- @messages = render 'layouts/messages', close_button: false
= render 'layouts/remote_form', block: 'guardar-modificaciones', form_partial: 'form_guardar_modificaciones', message_block: false
- if @levantar_popup
	$('#enviar-cambios').confirmModal();