- titulo t(:actividades)
= link_to t(:agregar_, item: t(:actividad).downcase), new_admin_actividad_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#actividad-remote-table
	= render 'table'