%p
  ¡Bienvenido #{@resource.nombre_completo}!
%p
  Se ha creado un usuario en el sistema, puedes finalizar la creación de tu cuenta en el siguiente enlace:
%p
  %a{href: accept_invitation_url(@resource, :invitation_token => @token)} Aceptar Invitación

%p
  Si usted no se identifica con la información enviada, por favor ignore este correo electrónico.

%p
  Saludos cordiales