%body{:style => 'background-color: #f6f6f6;'}
  %div{:style => 'width: 50%; margin: 50px auto; background-color: white; padding: 20px; border: 1px solid lightgrey'}
    =image_tag 'https://res.cloudinary.com/dye9yotct/image/upload/v1669987805/Copia_de_logo-ascc_tlkdl2.jpg'
    %p
      #{@resource.nombre_completo}
    %p
      En el marco de la mejora contínua de la gestión de los <strong>Acuerdos de Producción Limpia(APL), la Agencia de Sustentabilidad y Cambio Climático(ASCC)</strong> ha puesto en marcha una plataforma informática <strong>(Sistema de Gestión de APL)</strong> que permite gestionar las distintas etapas de un APL. Esta plataforma le permitirá revisar los avances y actividades ligadas a los APL en que usted participe.
    %p
      En virtud de lo anterior, usted ha sido agregado/a como participante del:

      - u = Persona.where(user_id: @resource.id)
      - m = MapaDeActor.where(persona_id: u.first.id)
      - f = ManifestacionDeInteres.find(m.first.flujo_id)
    %p{:style => 'text-align: center; font-weight: bold;'} #{f.nombre_acuerdo}

    %p por lo que ya cuenta con un perfil de usuario/a en el <strong>Sistema de Gestión de APL</strong> de la <strong>ASCC</strong>.

    %p Puede finalizar la creación de su cuenta en el siguiente enlace:

    %a{href: accept_invitation_url(@resource, :invitation_token => @token)} Aceptar Invitación
    %p
      Si usted no se identifica con la información enviada, por favor ignore este correo electrónico.

    %style
      img { width: 265px; object-fit: cover; }
      p { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.5em;}
