.row
  .col-12
    #usuarios-form-buscar
      = render "admin/users/form_buscar"
  -unless @usuario_temporal.nil?
    .col-12.text-right
      %button.btn.btn-primary#nuevo-usuario-button{type: :button}
        =t(:nuevo_representante)
  .col-12.mt-2
    #usuarios-remote-table
      = render "admin/users/tabla"
  .col-12.mt-2.text-right
    -unless @contribuyente_temporal.nil?
      %button.btn.btn-primary.seleccionar-y-actualizar-usuario-button{type: :button, disabled: :disabled }
        Seleccionar
    -else
      %button.btn.btn-primary.seleccionar-usuario-button{type: :button, "data-dismiss"=>:modal, disabled: :disabled }
        Seleccionar