#actores-remote-table.mb-3
	= render 'table'
#mapa_actores-form
	= render 'form_mapa_de_actores' 
#comentarios-coordinador-acuerdo.mb-3
	= render 'comentarios_coordinador'
#actualizar-remote-form
	= render 'form'