$('.loading-data').hide();
$("#eliminar-actor-<%= actor %>").closest('tr').remove();

<% if @listado_actores_temporal.count == 0 %>
  $('.actualizar-mapa-de-actores-listado-button').prop('disabled', true); 
  var newRow = "<tr><td colspan='12' class='text-center'> No hay actores disponibles </td></tr>";    
  $('#div_mapa_actores table tbody').append(newRow); 
<% else %>
  $('.actualizar-mapa-de-actores-listado-button').prop('disabled', false); 
<% end %>

