.col-12
  .card
    .card-header
      %h5.no-margin=t(:multas)
    .card-body.p-0
      .table-responsive
        - total_multas = 0
        %table.table.table-bordered.multas{width: "100%"}
          %thead
            %tr
              %th=t(:fecha_rendición_esperada)
              %th=t(:fecha_última_rendición)
              %th=t(:multa)
          %tbody
            - proyecto.rendiciones.each do |rend| 
              - monto_multa = rend.monto_multa
              - total_multas += monto_multa
              %tr
                %td=l(rend.fecha_rendicion, format: '%d-%m-%Y')
                %td=(!rend.fecha_ultima_rendicion.nil?) ? l(rend.fecha_ultima_rendicion, format: '%d-%m-%Y') : "--"
                %td="#{monto_multa} UF"
          %tfood
            %tr
              %td
              %td=t(:total)
              %td="#{total_multas} UF"