.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:adhesiones_revisadas)
      .card-body.p-0
        %table.table.table-striped.table-bordered#adhesiones_revisadas{style: "margin-top: 0 !important;margin-bottom:0 !important;"}
          %thead
            %tr
              %th='Fecha Ingreso'
              %th=t(:rut_institucion)
              %th=t(:nombre_institución)
              %th=t(:alcance)
              %th=t(:nombre_elemento)
              %th=t(:comuna_elemento)
              %th=t(:direccion_elemento)
              %th=t(:datos_encargado)
              %th=t(:observaciones)
              %th=t(:documentación)
              %th=t(:estado)
              %th=t(:retirar_del_acuerdo)
          %tbody
            - @no_pendientes_todas.each do |adhesion_id, data|
              -puts "adhesion: #{adhesion_id}"
              -data.each do |k,v|
                - v.each do |fila|
                  %tr
                    %td=fila[:fecha_adhesion]
                    %td=fila[:rut_institucion]
                    %td=fila[:nombre_institucion]
                    %td=fila[:alcance]
                    %td=fila[:nombre_elemento]
                    %td=fila[:comuna_instalacion]
                    %td=fila[:direccion_instalacion]
                    %td
                      %div{style: "white-space: nowrap"}=fila[:nombre_encargado]
                      %div{style: "white-space: nowrap"}=fila[:fono_encargado]
                      %div{style: "white-space: nowrap"}=fila[:email_encargado]
                    %td=fila[:observaciones]
                    %td.text-center
                      = link_to descargar_compilado_adhesion_path(@tarea_pendiente, aid: adhesion_id), class: 'btn btn-tabla' do
                        %i.fa.fa-download
                    %td=k.upcase
                    %td.text-center
                      -if k.upcase.to_s == "ACEPTADA"
                        =link_to '#', class: "btn btn-tabla retirar-elemento", "data-id" => fila[:id], "data-target" => '#modal_retirar_elemento', 'data-toggle' => 'modal' do
                          =fa_icon 'ban'
